{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'main/CSS/register_page.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="overlay">
        <main>
            <div class="login-container">
                <h2>Order</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.name != 'password' %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn">Order</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
{% endblock %}