{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'shop/CSS/shop.css' %}">
{% endblock %}

{% block content %}
<!-- Search form at the top -->
<div class="search-bar-container">
    <form method="GET" action="">
        <input type="text" name="search_query" placeholder="Search" class="search-bar">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<div class="shop-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h3>Filters</h3>
        <form method="GET" action="/shop/page/1/">
            <div class="filter-section">
                <h4>Categories</h4>
                <select name="cat">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-section">
                <h4>Prices</h4>
                <input type="number" name="price_min" placeholder="Min Price">
                <input type="number" name="price_max" placeholder="Max Price">
            </div>

            <div class="filter-section">
                <h4>Brands</h4>
                <select name="brand">
                    <option value="">All Brands</option>
                    {% for name in brand_names %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Apply Filter</button>
        </form>
    </aside>

    <!-- Main Content -->
    <div class="car-container">
        {% for p in products %}
        <a href="/shop/product/{{ p.id }}/?like=" class="car-link">
            <div class="car-card">
                <img src="{{ p.image.url }}" alt="{{ p.name }}" class="car-image">
                <div class="car-details">
                    <h2>{{ p.brand }} {{ p.name }}</h2>
                    <p>{{ p.price }} $</p>
                </div>
            </div>
        </a>
        {% empty %}
        <p>No products available</p>
        {% endfor %}

        <!-- Pagination -->
        <div class="pagination">
            {% if products.has_previous %}
                <a href="/shop/page/{{ products.previous_page_number }}/?{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="pagination-button">Previous</a>
            {% endif %}

            <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>

            {% if products.has_next %}
                <a href="/shop/page/{{ products.next_page_number }}/?{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="pagination-button">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}