.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 100%;
    max-width: 600px;
}

.main-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.thumbnails {
    display: flex;
    margin-top: 10px;
}

.thumbnails img {
    width: 80px;
    height: auto;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnails img:hover {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.product-details {
    text-align: center;
    margin-top: 20px;
}

.product-details h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-details .description {
    font-size: 1.2em;
    margin: 15px 0;
}

.product-details .price {
    font-size: 1.5em;
    color: #f9c84a; /* Цвет для цены */
    margin-bottom: 20px;
}

.buy-button, .like-button {
    background-color: #f9c84a;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover, .like-button:hover {
    background-color: gold; /* Золотой цвет при наведении */
}