/* Основной контейнер для страниц */
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Контейнеры для Wish List и Orders */
.wishlist-container, .orders-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

/* Сетка карточек */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Стиль карточек */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: left;
}

.card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #555;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-button:hover {
    background-color: #a78001;
    transform: scale(1.05);
}

.delete-button {
    background-color: #d9534f;
}

.delete-button:hover {
    background-color: #c9302c;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}