{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'main/CSS/home_page.css' %}">
{% endblock %}

{% block content %}
<body>
    <!-- Строка поиска -->
    <div class="search-bar-container">
        <form method="GET" action="">
            <input type="text" name="search_query" placeholder="Поиск" class="search-bar">
            <button type="submit" class="search-button">Поиск</button>
        </form>
    </div>

    <div class="container">
        <!-- Недавно просмотренные товары -->
        <div class="list-section">
            <h2>Недавно просмотренные</h2>
            <div class="product-list">
                {% for view in last_viewed %}
                    <div class="product-card">
                        <a href="/shop/product/{{ view.product.id }}/" class="product-link">
                            <img src="{{ view.image }}" alt="{{ view.product.name }}">
                            <h3>{{ view.product.brand }} {{ view.product.name }}</h3>
                            <p class="price">{{ view.product.price }} $</p>
                        </a>
                        <a href="/shop/order/product/{{ view.product.id }}/" class="add-to-cart-btn">Buy</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Рекомендуемые товары -->
        <div class="list-section">
            <h2>Рекомендации</h2>
            <div class="product-list">
                {% for product in recommendations %}
                    <div class="product-card">
                        <a href="/shop/product/{{ product.id }}/" class="product-link">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <h3>{{ product.brand }} {{ product.name }}</h3>
                            <p class="price">{{ product.price }} $</p>
                        </a>
                        <a href="/shop/order/product/{{ product.id }}/" class="add-to-cart-btn">Buy</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}