{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}layout{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/CSS/layout.css' %}">
    {% block add_css %}
    {% endblock %}
</head>
<body>
    <!-- Header -->
    <header class="main-header">
        <div class="logo">
            <h1>Tech shop</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="/about/" class="{% if request.path == '/about/' %}active{% endif %}">About Us</a></li>
                <li><a href="/shop/page/1/" class="{% if '/shop/' in request.path %}active{% endif %}">Shop</a></li>
                <li><a href="/contact/" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a></li>
            </ul>
        </nav>

        <!-- Панель авторизации -->
        <div class="auth-panel">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_page' %}">Profile</a>
                <a href="{% url 'logout_page' %}">Logout</a>
            {% else %}
                <a href="{% url 'login_page' %}">Login</a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>