/* Стили для карточек товаров */
.container {
    padding: 20px;
}

.list-section {
    margin-bottom: 40px; /* Отступ между секциями */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center; /* Центрируем заголовки */
}

.product-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 77px; /* Отступ между карточками */
}

.product-card {
    display: block; /* Сделаем карточку блочным элементом для ссылки */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Увеличиваем отступы внутри карточки */
    text-align: center; /* Центрируем текст */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем тень и эффект увеличения */
    width: 350px; /* Устанавливаем фиксированную ширину карточки */
    height: 600px; /* Устанавливаем фиксированную высоту карточки */
    margin: 15px; /* Увеличиваем расстояние между карточками */
    position: relative;
}

.product-card img {
    width: 100%; /* Теперь ширина изображения будет 100% карточки */
    height: 450px; /* Увеличиваем высоту для изображений */
    object-fit: cover; /* Обеспечиваем обрезку изображений */
    border-radius: 10px; /* Скругляем углы изображений */
}

.product-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-card .price {
    font-size: 1.2em;
    color: #f9c84a; /* Цвет для цены */
}

.product-card:hover {
    transform: scale(1.05); /* Увеличиваем карточку при наведении */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}